@use "sass:color";

$magicBlue: #73c9dd;
$magicBlack: #2d2a26;
$magicRed: #ed80a8;
$magicBrown: #eee3bd;
$magicDarkBrown: #290a0a;

@mixin background($color) {
  background-color: $color !important;
  border: 0;
  color: black;
}

@mixin background-active($color) {
  background-color: color.scale($color, $lightness: -20%);
  color: white;
  box-shadow: 0 5px 20px color.scale($color, $lightness: -50%);
  // Delay transition for touch screen UX
  transition: all 0.2s;
  transition-delay: 300ms;
}

.bg-blue {
  @include background($magicBlue);
}

.btn.bg-blue:hover, .btn.bg-blue:active {
  @include background-active($magicBlue);
}

.bg-black {
  @include background($magicBlack);
  color: white !important;
}

.btn.bg-black:hover, .btn.bg-black:active {
  @include background-active($magicBlack);
}

.bg-red {
  @include background($magicRed);
}

.btn.bg-red:hover, .btn.bg-red:active {
  @include background-active($magicRed);
}

.bg-brown {
  @include background($magicBrown);
}

.text-dark-brown {
  color: $magicDarkBrown !important;
}